DB_HOST=db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=shop_db
DB_PORT=5432
DB_SSL=disable

APP_PORT=8080
HTTP_YOOKASSA_PORT=5060


GRPC_PORT_PAYMENT=2122
GRPC_PORT_CONFIRM=2123
GRPC_YOOKASSA_HOST=yookassa #use docker container name

#get in the yookassa
YOOKASSA_SHOP_ID=
YOOKASSA_STORE_SECRET_KEY=
YOOKASSA_STORE_RETURN_URL=https://www.example.com
